.container {
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 1000px;
    }
}

@media screen and (min-width: 1057px) {
    .container {
        width: 1040px;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        width: 1560px;
    }
}