.header {
    background: -webkit-linear-gradient(45deg, rgb(201, 210, 241), rgb(237, 224, 208), rgb(255, 232, 191));
    height: 723px;
    overflow: hidden;
}

.header__container {
    display: inline-flex;
}

.header__logo {
    display: flex;
}

.menu__list {
    display: inline-flex;
    padding: 20px;
    list-style: none;
}

.menu__link {
    display: block;
    margin: 0 60px;
    font: 24px/24px Montserrat, sans-serif;
    color: #0E0807;
    padding: 10px 0;
    position: relative;
    text-decoration: unset;
}

.menu__link:hover {
    color: #676e78;
}

.menu__body {
    margin-top: 10px;
}

.main__title {
    font: 20px/1.2 'Raleway', sans-serif;
    font-weight: 200;
    color: #443836;
    margin-top: -369px;
}
@media screen and (max-width: 767px) {
    .menu__list {
        display: none;
    }

    .header__container {
        display: flex;
    }

    .header__logo {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .menu__icon {
        display: flex;
        margin-top: 17px;
        padding: 9px 10px;
        position: relative;
        background-color: antiquewhite;
        border-color: antiquewhite;
        margin-left: 10px;
    }

    .menu__icon:before {
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        height: 17px;
        width: 39px;
        position: relative;
        background-image: url("../images/arrow.png");
    }
}


@media screen and (min-width: 768px) {
    .header__container {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
    }

    .menu__link {
        margin-left: 20px;
        margin-right: 0;
    }

    .menu__list {
        display: flex;
    }

    .header__menu {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .header__container {
        max-width: 960px;
    }

    .menu__link {
        margin: 0 30px;
    }
}

@media screen and (min-width: 1057px) {
    .header__container {
        margin: 0 110px;
    }

    .header__logo {
        margin-top: 7px;
    }

    .header__container {
        max-width: 1000px;
    }
}

@media screen and (min-width: 1327px) {
    .menu__list {
        padding: 20px 10px;
    }

    .menu__link {
        margin: 0 60px;
    }
}

@media screen and (min-width: 1620px) {
    .menu__body {
        margin-left: 438px;
    }

    .menu__list {
        padding: 20px;
    }
}